/* Banner */
.banner {
    background: #A3A381; /* Olive Petal */
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.banner h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Seções */
.secao {
    padding: 80px 20px;
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

/* Seções com cores diferentes */
#sec1 { background: #D8A48F; } /* Rose Blush */
#sec2 { background: #BB8588; } /* Peach Blossom */
#sec3 { background: #EFEBCE; color: black; } /* Artic Daisy */
#sec4 { background: #D7CE93; color: black; } /* Golden Clover */
